@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*Fonts*/
.ubuntu-medium {
  font-weight: 500;
  font-style: normal;}
.ubuntu-bold {

  font-weight: 700;
  font-style: normal;}
.ubuntu-light-italic {
  font-weight: 300;
  font-style: italic;}
.ubuntu-regular-italic {
  font-weight: 400;
  font-style: italic;}
.ubuntu-medium-italic {
  font-weight: 500;
  font-style: italic;}
.ubuntu-bold-italic {
  font-weight: 700;
  font-style: italic;}
.ubuntu-light {
  font-weight: 300;
  font-style: normal;}

/**
 * ----------------------------------------
 * animation text-blur-out
 * ----------------------------------------
 */
 @keyframes text-blur-out {
  0% {
    filter: blur(0.01);
  }
  100% {
    filter: blur(1.2dvh) opacity(0%);
  }
}

/*
 * ----------------------------------------
 * animation blur-out-expand-fwd
 * ----------------------------------------
 */
 @keyframes blur-out-expand-fwd {
  0% {
    transform: translateZ(0);
    filter: blur(0.01);
  }
  100% {
    letter-spacing: 1em;
    transform: translateZ(30dvh);
    filter: blur(1.2dvh) opacity(0%);
  }
}

/**
 * ----------------------------------------
 * animation slide-fwd-center
 * ----------------------------------------
 */
 @keyframes slide-fwd-center {
  0% {
    transform: translateX(2.5dvh);
  }
  100% {
    transform: translateZ(16dvh);
  }
}

:root{
  --bg-main: #EEEDEB;
  --bg-sec: #2F3645; 
  --text-main: #2F3645;
  --text-sec: #E6B9A6;
  --misc: #939185;
  color: var(--text-main);
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  grid-column: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body{
  background: --bg-main;
}

.bg-outline{
  z-index: -1;
  position: fixed;
  width: 95%;
  outline: 0.2dvh solid var(--bg-sec);
  align-self: center;
  height: 95%;
  top: 2.5%;
  right: 2.5%;
}

.signature{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  bottom: 3%;
  right: 0.25%;
  height: 25dvh;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
  

}


#loader{
  background: #000;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  align-content: center;
  text-align: center;
  cursor: none;
  top: 0;
  left: 0;
  
}

#loader-logo{
  opacity: 0.8;
  animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite alternate-reverse both;
}

button {
  background: --misc;

  animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate both;
}

.hover {
  --s: 0.1em;   /* the thickness of the line */
  --c: var(--text-sec); /* the color */
  width: 15dvh;
  color: var(--text-main);
  padding-bottom: var(--s);
  
  background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
}
.hover:hover {
  --_p: 100%
}


.sidebar{
  width: 27dvh;
  position: fixed;
  left: 10dvh;
  top: 0;
  z-index: 10;
  height: 100%;
  font-size: 2.4dvh;
  text-align: center;
  align-content: center;
}  


.sidebar ul li {
  list-style: none;
  margin: 2dvh 5dvh;
  
}

.sidebar ul li a{
  display: block;
  text-align: center;
  padding: 1.6dvh 0dvh;
  text-decoration: none;
  opacity: 0.8;
  
}

.sidebar ul li a:link {
  color: var(--text-main);
  background-color: transparent;
  text-decoration: none;
}

.sidebar ul li a:visited {
  color: var(--text-main);
  background-color: transparent;
  text-decoration: none;
}


.sidebar ul li a:active {
  color: var(--text-sec);
  text-decoration: none;
}



.content{
  min-height: 100dvh;
  margin-left: 27dvh;

}

.section-title{
  margin-left: 25dvh;
  font-size: 3.6dvh;
}

.section-title span{
  color: var(--text-sec);
}

.section-subtitle{
  margin-left: 25dvh;
  font-size: 3.6dvh;
}

.section-subtitle span{
  color: var(--text-sec);
}

#home{
  margin-top: 0;
  text-wrap: pretty;
  padding-top: 30dvh;
}

.paragraph{
  padding-top: 5dvh;
  font-size: 2.7dvh;
  text-indent: 2.5dvh;
  text-align: left;
  padding-right: 11%;
  padding-left: 15dvh;
  padding-bottom: 10dvh;
}

#about{
  margin-top: 85dvh;
  padding-top: 20dvh;
  padding-bottom: 50dvh;
}

.paragraph-list{
  padding-top: 5dvh;
  font-size: 2.7dvh;
  text-align: left;
  padding-right: 11%;
  padding-left: 15dvh;
  padding-bottom: 10dvh;
}

.tool{
  color: var(--text-sec);
}

.social{
  display: flex; flex-wrap:wrap; align-items: center; justify-content: center;
  float: right;
  position: fixed;
  right: 5%;
  bottom: 5%;
}

#projects{
  padding-bottom: 25dvh;
  margin-left: 10dvh;
}

.project-title{
  padding-top: 5dvh;
  font-size: 2.7dvh;
  text-align: left;
  padding-left: 15dvh;
  padding-right: 11%;
  padding-bottom: 0.25dvh;

}

.off-screen-menu{
  display: none;
}

.project-description{
  font-size: 2.7dvh;
  text-indent: 2.5dvh;
  text-align: left;
   padding-left: 15dvh;
 padding-right: 11%;
  padding-bottom: 0.25dvh;
  
}
.project-image{
  margin-top: 2.5dvh;
  margin-bottom: 2.5dvh;
  margin-left: 55dvh;
  border-radius: 2.5dvh;
  display: flex;
  position: relative;
  height: 45dvh;
  width: 1;

  box-shadow: var(--bg-sec) 0.5vh;
  position: relative;
}



@media (max-width: 768px) {
  .sidebar{
    display: none;
  }

  .off-screen-menu {
    background-color: var(--bg-sec);
    height: 100dvh;
    width: 1;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
  }
  
  .off-screen-menu.active {
    right: 0;
  
  }
  
  .nav-ham {
    padding: 1rem;
    display: flex;
    background-color: var(--bg-sec);
    right: 5dvh;
    top: 5dvh;
  }
  
  .ham-menu{
    height: 5dvh;
    width: 5dvh;
    margin-left: auto;
  
    position: relative;
    z-index: 15;
    cursor: pointer;
  }
  
  .ham-menu span{
    height: 5px;
    width: 100%;
    background-color: var(--misc);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3 ease;
  }
  .ham-menu span:nth-child(1) {
    top: 25%;
  }
  
  .ham-menu span:nth-child(3) {
    top: 75%;
  }
  
  .ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .ham-menu.active span:nth-child(2){
    display: none;
  }
  
  .ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  

  .content{
    margin-left: 0;
  }

  .project-image{
    display: none;
  }

  .section-title{
    margin-left: -15px;
    font-size: 2.8dvh;
    text-align: center;
  }
  
  .section-subtitle{
    margin-left: 15dvh;
    font-size: 2.8dvh;
  }

  .project-description{
    text-indent: 0dvh;
  }
  
  .social{
    display:flex;
    justify-content: center;
    float: none;
    position: relative;
    right: 0;
    bottom: 5vh;
  }

  .signature{
    opacity: 0.5;
  }

  .paragraph{
    padding-left: 5dvh;
    text-align: center;
  }

  #home{
    margin-top: 0;
    text-wrap: pretty;
    padding-top: 30dvh;
  }
  

  
  #about{
    margin-top: 45dvh;
    padding-top: 20dvh;
    padding-bottom: 50dvh;
  }
  
  .paragraph-list{
    padding-top: 5dvh;
    font-size: 2.7dvh;
    text-align: left;
    padding-left: 5dvh;
    text-align: center;
    padding-bottom: 10dvh;
  }

  #projects{
    padding-bottom: 25dvh;
    margin-left: 0;
  }

  .project-title{
    padding-top: 5dvh;
    font-size: 2.7dvh;
    text-align: left;
    padding-left: 0dvh; 
    padding-right: 0;
    padding-bottom: 0.25dvh;
    margin-left: 5dvh;
  
  }
  
  .project-description{
    font-size: 2.7dvh;
    text-indent: 1.25dvh;
    text-align: left;
    padding-left: 0dvh; 
    padding-right: none;
    padding-bottom: 0.25dvh;
    margin-left: 5dvh;
  }
}